/*************************************************
 *  Navigation Bar
 **************************************************/

.navbar {
  min-height: 70px !important;
}

.navbar-default {
  background: {{ .Get "menu_primary" }};
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
 
nav#navbar-main li {
  font-size: {{ .Get "font_size_small" }}px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: {{ .Get "menu_text" }};
  font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus {
  color: {{ .Get "menu_text" }};
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: {{ .Get "menu_text_active" }};
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: {{ .Get "menu_text_active" }};
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.navbar-brand,
.navbar-nav li a {
  height: inherit;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: {{ .Get "menu_text" }} !important;
}

.dropdown-menu {
  background-color: {{ .Get "menu_primary" }} !important;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: {{ .Get "menu_text" }};
  white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: {{ .Get "menu_text_active" }};
  text-decoration: none;
  background-color: {{ .Get "menu_primary" }};
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: {{ .Get "menu_primary" }};
  text-decoration: none;
  background-color: {{ .Get "menu_text_active" }};
  outline: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:visited {
  color: {{ .Get "menu_text" }} !important;
  background-color: {{ .Get "menu_primary" }} !important;
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  color: {{ .Get "menu_title" }};
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: {{ .Get "menu_title" }};
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  .navbar {
    min-height: 50px !important;
  }

  .navbar-brand,
  .navbar-nav li a {
    height: inherit;
    line-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .navbar-brand img {
    max-height: 40px;
  }

  .navbar-header {
    float: none;
    min-height: inherit;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: {{ .Get "menu_text" }};
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    padding: 25px 15px 25px 25px;
    line-height: 20px;
    color: {{ .Get "menu_text" }};
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: inherit;
    background-color: transparent;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
    color: {{ .Get "menu_text_active" }};
    background-color: transparent;
  }

  .collapse.in {
    display: block !important;
  }
}
