body {
	margin-top: initial;
	line-height: initial;
}

.portrait-title h1 {
	color: white;
}

input {
	color: black;
}

button, html input[type="button"] {
	background-color: orange;
	border-radius: 5px;
}

input, select, textarea{
  width: 100%;
  max-width: 100%;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  cursor: pointer;
  float: right;
}

label {
  padding: 6px 6px 6px 0;
  display: inline-block;
}


.form-container {

	width: 100%;
}

.form-component {
	width: 100%;
	margin: 10px 0px 10px 0px;
	content: "";
	display: table;
	clear: both;
}

.form-select {

}

.form-label {
	float: left;
	width: 20%;
	max-width: initial;
	margin: 0px 5px 0px 5px;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: normal;
	font-size: 75%;
}

.form-input {
	float: left;
	width: 70%;
	max-width: initial;
	color: black;
	margin: 0px 5px 0px 5px;
}

.form-button-container {
		text-align: right;
}

@media screen and (max-width: 600px) {
  .form-label, .form-input, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: initial;
}


.navbar-brand, .navbar-nav li a {
	line-height: 25px;
}

.breadcrumb-container {

}

.breadcrumb {
	margin: 20px 0px 5px 0px;
	padding: 5px 10px;
	background-color: #282A36;
	text-align: right;
}

.navbar-collapse {

}

.navbar-nav .breadcrumb .navbar-right {
	margin: 0px;
	padding: 0px;
	max-height: initial;
	height: initial;
}

.breadcrumb li a {
	font-size: 80%;
}

.home-section  {
	padding: 25px 0px;
}

.article-container {
    max-width: 760px;
    padding: 10px 20px 0px;
    margin: 0px auto;
}

ul.ul-edu li .description p.type {
  font-size: 0.8rem;
}

img {max-width:100%; height:auto;}

.imgTitle {
	width: 50px;
}

.fa-li {color: orange;}

.article {
}
.article-header-caption {
	position: initial;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 40%;
	text-align:left;
}

.article-header {
	position: initial;
}

.article-header img {
	max-width: 250px;
}

.article-banner {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
	width: 40%;
    height: auto;
}

.service-price-table {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	flex-wrap: wrap;
	border: 1px solid black;
	margin-left: auto;
	width: auto;
	max-width: 300px;

}

.price-data-label {
	flex: 2 0 0;
	padding: 10px;
	background-color: Orange;
	text-align: center;
}

.price-data-item {
	flex: 1 0 0;
	font-size: 125%;
	font-weight: bold;
	padding: 5px;
	background-color: LightGray;
	text-align: left;
	color: orange;
}


.quote-panel-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: stretch;
	flex-wrap: wrap;
	border: 1px solid black;
	margin-left: auto;
	width: auto;
	max-width: 300px;
}

.quote-panel-label {
	flex: 2 0 0;
	max-width: 200px;
	padding: 10px;
	background-color: Orange;
	text-align: center;
}

.quote-panel-item {
	width: 100%;
	flex: 1 0 0;
	max-width: 100px;
	font-size: 125%;
	font-weight: bold;
	background-color: DarkGrey;
	text-align: center;
	color: orange;
}

.quote-panel-button {
	width: auto;
	background-color: white;
}


.quote-panel-button , .quote-panel-button:visited, .quote-panel-button:hover {
	margin: 2px;
	border: 1px solid black;
	border-radius: 5px;
}

.quote-panel-button:link  {
	background-color: white;
	text-decoration: none;
}

.quote-panel-button:visited {
	background-color: white;
	text-decoration: none;
}

.quote-panel-button:hover  {
	background-color: grey;
	text-decoration: none;
}

.quote-panel-button a:hover  {
	text-decoration: none;
}

.contact-info-table {
	font-size: 125%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
}

.contact-info-group {
	margin: 5px;
	border: 1px solid orange;
	border-radius: 10px;

}

.contact-info-label {
	font-family: impact;
	line-height: normal;
	margin: 5px 5px 0px 5px;
	padding: 0px 5px;
	color: Orange;
	text-align: center;
}

.contact-info-item {
	line-height: normal;
	margin: 0px 5px 5px 5px;
	padding: 0px 5px;
	color: LightGray;
	text-align: center;
}

.title-container {
}

.title-image {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.title-item {
	display: inline-block;
	vertical-align: middle;
}

#imgCompareContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
}

.imgCompareLeft {
	Width: 50%;
}

.imgCompareRight {
	Width: 50%;
}

.imgCompare {

}


/* accessibility */

.access {
	display: none;
}

/* icon styles */

#contact.home-section .fa-li {
}

.fa-ul > li {
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/*************************************************
 *  Biography
 **************************************************/

ul.ul-edu li .description p.method {
  font-size: 0.75rem;
  color: rgba(0,0,0,0.6);
}


/*************************************************
 *  Dark themed components
 **************************************************/

.dark ul.ul-edu li .description p.method {
  color: rgba(255, 255, 255, 0.6);
}

/* Panel Styling */

.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 0px;
	background-color: #141622;
}

.panel-default > .panel-heading{
	background-color: #282A36;
	border: 1px solid black;
}

.panel-title {
	font-size: 1.75rem;
}

.panel-body {

}

.panel-default {
	border: 0px;

}
