ul.ul-edu li .description p.type {
  font-size: 0.8rem;
}

img {max-width:100%; height:auto;}

.fa-li {color: orange;}

.article-banner {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
	width: 40%;
    height: auto;
}

.service-price-table {
	display: flex;
	flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-left: auto;
  width: auto;
  max-width: 300px;

}

.price-data-label {
  flex: 2 0 0;
	padding: 10px;
	background-color: Orange;
  text-align: center;
}

.price-data-item {
  flex: 1 0 0;
	padding: 10px;
	background-color: LightGray;
  text-align: left;
}


.contact-info-table {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 5px;
}

.contact-info-label {
	padding: 10px;
	background-color: Orange;
	text-align: center;
}

.contact-info-item {
	padding: 10px;
	background-color: LightGray;
	text-align: center;
}

