<script src='https://www.google.com/recaptcha/api.js'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117122528-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-117122528-1');
</script>

<txr-sms-chat accountid="12523" chatid="cc4515d5-1cf6-4811-8422-4abbec25e5b1"></txr-sms-chat> <script type="text/javascript" charset="UTF-8" src="https://fs.textrequest.com/sms-chat/main.bundle.js"></script>

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}