<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
     
    <li class="dropdown">    
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
  
  <!-- Parent with Child Menu Items -->
          <span>Services</span>
  
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu mega-nav">
            <li>
              <h3>Computer Services</h3>
              <a href="/services/data/backup">Backup Solutions</a>
              <a href="/services/computer/assistance">Computer Assistance</a>
              <a href="/services/computer/repair">Computer Repair</a>
              <a href="/services/data/transfers">Data Transfers</a>
              <a href="/services/data/recovery">Data Recovery</a>
              <a href="/services/data/archiving">Data Archiving</a>
              <a href="/services/computer/multimedia-gaming">Multimedia & Gaming</a>
<!--              <a href="/deals">Service Deals</a> -->
              <a href="/packages">Service Packages</a> 
            </li>
            <li>
              <h3>Information Services</h3>
              <a href="/services/information/management">Services Management</a>
              <a href="/services/content/development">Content Development</a>
              <a href="/services/content/publishing">Content Publishing</a>
            </li>
              <li>
                <h3>Helpful Information</h3>
                <a href="/terms">Terms of Service</a>
                <a href="/classes/technology">Classes</a>
                <a href="/events/technology">Events</a>
                <a href="/guides">Guides</a>
                <a href="/education">Education</a>
                <a href="/links">Links</a>
                <a href="/newsletters">Newsletters</a>
                <a href="/projects">Projects</a>
                <a href="/publications">Publications</a>
                <a href="/documents">Documents</a>
                <a href="/recommendations">Recommendations</a>
                <a href="/glossary">Technical Glossary</a>
                <a href="/forms">Forms</a>
              </li>
                
              </ul>
        </li>
      
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">

<!-- Parent with Child Menu Items -->
      <span>Updates & Publications</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu mega-nav">
        <li>
          <span><i>My quick <a href="/updates/">updates</a> and full <a href="/publications">publications</a> on technology</i></span>
          <a href="/publications/publication-why-password-managers/">Why Password Managers?...</a>
          <a href="/updates/xfinity-internet-status/">Is your internet down? How to check Xfinity internet status</a>
          <a href="/updates/">...More Updates</a>
          <a href="/publications/">...More Publications</a>
        </li>
        <li>
          
        </li>
    </ul>
  </li>
  <!-- Non-dropdown links -->    
  <!--    <li><a href="#home">Home</a></li> -->
  <!--    <li><a href="#news">News</a></li> -->
  </ul>  
  
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#contact">Contact</a></li>
  </ul>
</div><!-- /.navbar-collapse --><!-- /.container -->
