<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <!-- Left Nav Bar -->
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">

<!-- Parent with Child Menu Items -->
            <span>parent</span>

            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu > mega-nav">
            <li>
              <li>
                <h3>Category 1</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </li>
              <li>
                <h3>Category 2</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </li>
              <li>
                <h3>Category 3</h3>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </li>
            </li>
          </ul>


        <li class="nav-item">

          <a href="">
<!-- Parent Menu Items -->

            <span></span>

          </a>
        </li>
        <li class="nav-item">
           <a href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a href="#news">News</a>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span></span>
          </a>
          <ul class="dropdown-menu">

            <li class="nav-item">
              <a href="">
                <span></span>
              </a>
            </li>

          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
