<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading-clean">
      <h2 class="panel-title-clean">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ .Get "id" }}">{{ .Get "title" }}</a>
      </h2>
      <div class="panel-subtitle-clean">{{ .Get "subtitle" }}</div>
    </div>
    {{- if .Get "col"}}
    <div id="collapse-{{ .Get "id" }}" class="panel-collapse collapse {{ .Get "col" }} ">
      <div class="panel-body"><p>{{ .Inner | markdownify }}</p></div>
    </div>
    {{- else}}
    <div id="collapse-{{ .Get "id" }}" class="panel-collapse collapse">
      <div class="panel-body"><p>{{ .Inner | markdownify }}</p></div>
    </div>
    {{- end -}}
  </div>
</div>
