<div class="form-container">
	<form name="contact" method="POST">
		<div class="form-component">
		  <div class="form-label"><label>First Name</label></div>
		  <div class="form-input"><input type="text" name="first name" required></div>
		</div>
    <div class="form-component">
		  <div class="form-label"><label>Last Name</label></div>
		  <div class="form-input"><input type="text" name="last name" required></div>
		</div>
    <div class="form-component">
		  <div class="form-label"><label>Best Contact Number</label></div>
		  <div class="form-input"><input type="tel" name="phone" required></div>
		</div>
		<div class="form-component">
			<div class="form-label"><label>Your Email</label></div>
			<div class="form-input"><input type="email" name="email" required></div>
		</div>
		<div class="form-component">
			<div class="form-label"><label>Details</label></div>
			<div class="form-input"><textarea name="details" required></textarea></div>
		</div>
<div class="hidden">
  <div class="form-component">
  <div class="form-label"><label>Secondary Contact</label></div>
  <div class="form-input"><input name="contact2-field"></div>
    </div>
</div>

		<div class="form-component">
			<div class="form-button-container"><button type="submit">Send Request</button></div>
		</div>
	</form>
</div>
