<div class="form-container">
	<form name="contact" method="POST" netlify-honeypot="contact2-field" netlify-recaptcha netlify>
		<div class="form-component">
		  <div class="form-label"><label>Your Name</label></div>
		  <div class="form-input"><input type="text" name="name" required></div>
		</div>
		<div class="form-component">
			<div class="form-label"><label>Your Email</label></div>
			<div class="form-input"><input type="email" name="email" required></div>
		</div>
		<div class="form-component">
			<div class="form-label"><label>Details</label></div>
			<div class="form-input"><textarea name="details" required></textarea></div>
		</div>
		<div class="form-component">
		<div class="form-label"><label>Secondary Contact</label></div>
		<div class="form-input"><input type="text" name="contact2-field"></div>
  </div>
		<div class="form-component">
      <div data-netlify-recaptcha></div>
    </div>
		<div class="form-component">
			<div class="form-button-container"><button type="submit">Send Request</button></div>
		</div>
	</form>
</div>
