<h3 id="particulars">Disaster Recovery Service Rates</h3>



<h4>Labor Costs</h4>

<div class="service-price-table-long">
  <div class="price-data-label">Labor Rate: Per Device (Local Disaster Recovery Service Setup)</div>
  <div class="price-data-item">$150</div>
</div>

<div class="service-price-table-long">
  <div class="price-data-label">Labor Rate: 2-4 Devices (Network Disaster Recovery Service Setup)</div>
  <div class="price-data-item">$300</div>
</div>

<h4>Hardware/Software Costs</h4>


<div class="service-price-table-long">
  <div class="price-data-label">External Hard Drive</div>
  <div class="price-data-item">$150 - $300</div>
</div>

<div class="service-price-table-long">
  <div class="price-data-label">Network Attached Storage Device</div>
  <div class="price-data-item">$400 - $1000</div>
</div>

<div class="service-price-table-long">
  <div class="price-data-label">Disaster Recovery Software</div>
  <div class="price-data-item">$100</div>
</div>

<h4 id="turn-around-time">Turn-Around Time</h4>

<p><strong>Local Disaster Recovery Service Setup</strong></p>

<ul>
<li>&frac12; Hour - Per Device</li>
</ul>

<p><strong>Network Disaster Recovery Service Setup</strong></p>

<ul>
<li>&frac12; Hour - Per Device</li>
<li>3 Hours - Network Attached Storage Device (Assemble of the NAS,
configuring services for the proper network and cloud storage
capabilities.</li>
</ul>

<h4 id="3-year-guarantee-on-hardware">3 Year Guarantee on Hardware</h4>

<p>So long as I am capable to continue as a Information Technology Service Man, If the Storage device within a 3 year time line, I will replace the unit
and/or the drives free of charge.</p>
