<div class="divResTable divResTable--4cols divResTable--collapse">
  <div class="divResTableCell" style="order: 1;">
    <div class="divResTableTitle">Col1 Title</div>
    <div class="divResTableHeadDesc">Col1 Desc</div>
    <div class="divResTableFoot">Footer Text</div>
  </div>
  <div class="divResTableCell cell1" style="order: 2;">
    <ul class="divResTableList">
      <li><b></b></li>
      <li><b></b></li>
      <li><b></b><li>
    </ul>
  </div>
  <div class="divResTableBreak"></div>
  <div class="divResTableCell" style="order: 1;">
    <div class="divResTableTitle">Col1 Title</div>
    <div class="divResTableHeadDesc">Col1 Desc</div>
    <div class="divResTableFoot">Footer Text</div>
  </div>
  <div class="divResTableCell cell1" style="order: 2;">
    <ul class="divResTableList">
      <li><b></b></li>
      <li><b></b></li>
      <li><b></b><li>
    </ul>
  </div>
  <div class="divResTableBreak"></div>
  <div class="divResTableCell" style="order: 1;">
    <div class="divResTableTitle">Col2 Title</div>
    <div class="divResTableHeadDesc">Col2 Desc</div>
    <div class="divResTableFoot">Footer Text</div>
  </div>
  <div class="divResTableCell" style="order: 2;">
    <ul class="divResTableList">
      <li><b></b></li>
      <li><b></b></li>
      <li><b></b></li>
    </ul>
  </div>
  <div class="divResTableBreak"></div>
  <div class="divResTableCell" style="order: 1;">
    <div class="divResTableTitle">Col3 Title</div>
    <div class="divResTableHeadDesc">Col3 Desc</div>
    <div class="divResTableFoot">Footer Text</div>
  </div>
  <div class="divResTableCell" style="order: 2;">
    <ul class="divResTableList">
      <li><b></b></li>
      <li><b></b></li>
      <li><b></b></li>
    </ul>
  </div>
  <div class="divResTableBreak"></div>
</div>