<div class="divColTable">
  <div class="divColTableCell divResTable--4cols">
    <div class="divColTableCell divResTableTitle">Plan</div>
    <div class="divColTableCell divResTableHeadDesc">Col1 Desc</div>
    <div class="divColTableCell divResTableFoot">Pricing</div>
    <div class="divColTableCell">
      <ul class="divResTableList">
        <li>Privacy-first, secure email</li>
        <li>No ads, no tracking</li>
        <li>Fastmail web and mobile apps</li>
        <li>Full-featured calendars</li>
        <li>Contact lists and groups</li>
        <li>Mail import tool</li>
        <li>Expert support</li>
        <li>600+ alias addresses for even more privacy</li>
        <li>Manage and add users on any plan</li>
        <li>Use your own domains</li>
        <li>(you@yourname)</li>
        <li>Share your domain with Basic users</li>
        <li>Your choice of email apps (Outlook, iPhone Mail)</li>
        <li>Snooze</li>
        <li>Calendar groups</li>
        <li>Email retention archive</li>
      </ul>
    </div>
  </div>

  
  
  <div class="divResTableBreak"></div>
  <div class="divColTableCell divResTable--4cols">
    <div class="divColTableCell divResTableTitle">Col1 Title</div>
    <div class="divColTableCell divResTableHeadDesc">Col1 Desc</div>
    <div class="divColTableCell divResTableFoot">$43.50</div>
    <div class="divColTableCell">
      <ul class="divResTableList">
        <li>Yes</li>
        <li>Yes</li>
        <li>Yes</li>
        <li>Yes</li>
        <li>Yes</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
        <li>No</li>
      </ul>
    </div>
  </div>
  
  <div class="divResTableBreak"></div>
  <div class="divResTableCell divResTable--4cols">
    <div class="divResTableCell divResTableTitle">Col2 Title</div>
    <div class="divResTableCell divResTableHeadDesc">Col2 Desc</div>
    <div class="divResTableCell divResTableFoot">$72.50</div>
      <div class="divResTableCell">
        <ul class="divResTableList">
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>Yes</li>
          <li>No</li>
        </ul>
      </div>
  </div>

  <div class="divResTableBreak"></div>
  <div class="divResTableCell divResTable--4cols">
    <div class="divResTableCell divResTableTitle">Col3 Title</div>
    <div class="divResTableCell divResTableHeadDesc">Col3 Desc</div>
    <div class="divResTableCell divResTableFoot">$130.50</div>
  </div>
  <div class="divResTableCell">
    <ul class="divResTableList">
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
      <li>Yes</li>
    </ul>
  </div>
  <div class="divResTableBreak"></div>
</div>