<table>
  <tr>
    <th>Day</th>
    <th>Month/Year</th>
    <th>Operational Status</th>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>November 24th 2022</td>
    <td>Thanksgiving (Closed)</td>
  </tr>
  <tr>  
    <td>Saturday</td>
    <td>December 24th 2022</td>
    <td>Christmas Eve (10am-2pm)</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>December 25th 2022</td>
    <td>Christmas Day (Closed)</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>December 31st 2022</td>
    <td>New Years Eve (10am-2pm)</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>January 1st 2023</td>
    <td>New Years Day (Closed)</td>
  </tr>
  <tr>
    <td>Week</td>
    <td>January 2nd through January 7th 2023</td>
    <td>Open for drop-offs, but services will continue on January 9th</td>
  </tr>
</table>