<h2>Recurring</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Month/Year</th>
    <th>Operational Status</th>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>November 24th 2024</td>
    <td>Thanksgiving (Closed)</td>
  </tr>
  <tr>  
    <td>Saturday</td>
    <td>December 24th 2024</td>
    <td>Christmas Eve (10am-2pm)</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>December 25th 2024</td>
    <td>Christmas Day (Closed)</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>December 31st 2024</td>
    <td>New Years Eve (10am-2pm)</td>
  </tr>
  <tr>
    <td>Week</td>
    <td>January 2nd through January 8th 2025</td>
    <td>Open for drop-offs and at-location appointment scheduling but services will continue on January 9th</td>
  </tr>
</table>

<h2>Short Notice</h2>
<table>
  <tr>
    <th>Day</th>
    <th>Month/Year</th>
    <th>Operational Status</th>
    <tr>
    <td>Week</td>
    <td>February 23rd through 25th</td>
    <td>March 21st through March 25th 2024</td>
  </tr>
  </tr>
</table>