<div class="form-container">
	<form name="contact" method="POST" netlify>
	  <div class="form-component">
		  <div class="form-label"><label>Your Name:</label></div>
		  <div class="form-input"><input type="text" name="name"></div>
	  </div>
	  <p>
	    <label>Your Email: <input type="email" name="email"></label>
	  </p>
	  <p>
	    <label>Message: <textarea name="message"></textarea></label>
	  </p>
	  <div class="form-button-container"><button type="submit">Send Request</button></div>
	</form>
</div>