<div class="divResTable divResTable--3cols divResTable--collapse">
  <div class="divResTableCell divResTableHeading priority-header1" style="order: 1;">
    <div class="divResTableTitle">Soon</div>
    <div class="divResTableHeadDesc">Within 1-2 Days</div>
    <div class="emoji-priority">
      <img class="emoji-priority" src="/img/services/priority/srl-emoji-soon.png" alt="">
    </div>
    <div class="divResTableFoot">$150-$325</div>
  </div>
  <div class="divResTableCell priority-cell1" style="order: 2;">
    <ul class="divResTableList">
      <li>Skip the line.</li>
      <li>Saturday service.</li>
      <li>Expert advise and recommendations on future issues and purchases.</li>
      <li>Priority communication responses.</li>
      <li>High quality service with over 20 years of experience.</li>
      <li>Excellent service record/history keeping.</li>
      <li>Access to articles and publications that will simplify your technology life.</li>
    </ul>
  </div>
    <div class="divResTableCell divResTableHeading priority-header2" style="order: 1;">
      <div class="divResTableTitle">Couple of Days</div>
      <div class="divResTableHeadDesc">Within 3-7 Days</div>
      <div class="emoji-priority">
        <img class="emoji-priority" src="/img/services/priority/srl-emoji-3days.png" alt="">
      </div>
      <div class="divResTableFoot">$100-$250</div>
    </div>
    <div class="divResTableCell priority-cell2" style="order: 2;">
          <ul class="divResTableList">
            <li>High quality service with over 20 years of experience.</li>
            <li>Excellent service record/history keeping.</li>
            <li>Access to articles and publications that will simplify your technology life.</li>
          </ul>
    </div>
  <div class="divResTableCell divResTableHeading priority-header3" style="order: 1;">
    <div class="divResTableTitle">No Rush</div>
    <div class="divResTableHeadDesc">1 Week+</div>
    <div class="emoji-priority">
      <img class="emoji-priority" src="/img/services/priority/srl-emoji-week.png" alt="">
    </div>
    <div class="divResTableFoot">$87-$153</div>
  </div>
  <div class="divResTableCell priority-cell3" style="order: 2;">
        <ul class="divResTableList">
          <li>High quality service with over 20 years of experience.</li>
          <li>Excellent service record/history keeping.</li>
          <li>Access to articles and publications that will simplify your technology life.</li>
        </ul>
  </div>
</div>