<div class="divResTable divResTable--3cols divResTable--collapse">
  <div class="divResTableCell priority-header1" style="order: 1;">
    <div class="divResTableTitle">Priority</div>
    <div class="divResTableHeadDesc">Within 1-2 Days</div>
    <div class="emoji-priority">
      <img class="emoji-priority" src="/img/services/priority/srl-emoji-soon.png" alt="">
    </div>
    <div class="divResTableFoot">$150-$325</div>
  </div>
  <div class="divResTableCell priority-cell1" style="order: 2;">
    <ul class="divResTableList">
      <li><b>Skip the line.</b></li>
      <li><b>Priority response</b> to calls, texts, emails.</li>
      <li><b>Saturday service pickup and drop off.</b></li>
      <li><b>High quality repair service</b> with over 20 years of experience.</li>
      <li><b>Full diagnostic service & reports</b> (If needed) </li>
      <li><b>Expert advise and recommendations</b> on future issues and purchases.</li>
      <li>Excellent <b>service record/history</b> keeping.</li>
      <li>Access to <b>articles and publications</b> that will simplify your technology life.</li>
    </ul>
  </div>
    <div class="divResTableBreak"></div>
    <div class="divResTableCell priority-header2" style="order: 1;">
      <div class="divResTableTitle">1st Class</div>
      <div class="divResTableHeadDesc">Within 3-7 Days</div>
      <div class="emoji-priority">
        <img class="emoji-priority" src="/img/services/priority/srl-emoji-3days.png" alt="">
      </div>
      <div class="divResTableFoot">$100-$250</div>
    </div>
    <div class="divResTableCell priority-cell2" style="order: 2;">
          <ul class="divResTableList">
            <li><b>High quality repair service</b> with over 20 years of experience.</li>
            <li><b>Full diagnostic service & reports</b> (If needed) </li>
            <li>Excellent <b>service record/history</b> keeping.</li>
            <li>Access to <b>articles and publications</b> that will simplify your technology life.</li>
          </ul>
    </div>
  <div class="divResTableBreak"></div>
  <div class="divResTableCell priority-header3" style="order: 1;">
    <div class="divResTableTitle">2nd Class</div>
    <div class="divResTableHeadDesc">1 Week+</div>
    <div class="emoji-priority">
      <img class="emoji-priority" src="/img/services/priority/srl-emoji-week.png" alt="">
    </div>
    <div class="divResTableFoot">$87-$153</div>
  </div>
  <div class="divResTableCell priority-cell3" style="order: 2;">
        <ul class="divResTableList">
          <li><b>High quality repair service</b> with over 20 years of experience.</li>
          <li><b>Full diagnostic service & reports</b> (If needed) </li>
          <li>Excellent <b>service record/history keeping</b>.</li>
          <li>Access to <b>articles and publications</b> that will simplify your technology life.</li>
        </ul>
  </div>
  <div class="divResTableBreak"></div>
</div>