<table class="infobox hproduct vevent">
            <caption class="infobox-title fn summary">Commodore Amiga 2000</caption>
            <tbody>
              <tr>
                <td colspan="2" class="infobox-image">
                  <a href="/wiki/File:Amiga_2000_computer_(filtered_sharpened).jpg" class="image"><img alt="Amiga 2000 computer (filtered sharpened).jpg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Amiga_2000_computer_%28filtered_sharpened%29.jpg/220px-Amiga_2000_computer_%28filtered_sharpened%29.jpg" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Amiga_2000_computer_%28filtered_sharpened%29.jpg/330px-Amiga_2000_computer_%28filtered_sharpened%29.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Amiga_2000_computer_%28filtered_sharpened%29.jpg/440px-Amiga_2000_computer_%28filtered_sharpened%29.jpg 2x" data-file-width="1870" data-file-height="1069" width="220" height="126"></a>
                </td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Type</th>
                <td class="infobox-data"><a href="/wiki/Personal_computer" title="Personal computer">Personal computer</a></td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Release date</th>
                <td class="infobox-data">March&nbsp;1987<span class="noprint">; 35&nbsp;years ago</span><span style="display:none">&nbsp;(<span class="bday dtstart published updated">1987-03</span>)</span>
                </td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Introductory price</th>
                <td class="infobox-data">USD 1,495 (1987)<br>USD 3,600 (2022 equivalent)<sup id="cite_ref-im87_1-0" class="reference"><a href="#cite_note-im87-1">[1]</a></sup></td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Discontinued</th>
                <td class="infobox-data">1991</td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label"><a href="/wiki/Operating_system" title="Operating system">Operating system</a></th>
                <td class="infobox-data"><a href="/wiki/AmigaOS" title="AmigaOS">Amiga OS</a> 1.2/1.3 or 2.0</td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label"><a href="/wiki/Central_processing_unit" title="Central processing unit">CPU</a></th>
                <td class="infobox-data"><span class="nowrap"><a href="/wiki/Motorola_68000" title="Motorola 68000">Motorola 68000</a></span> <span class="nowrap">@ 7.16&nbsp;MHz (<a href="/wiki/NTSC" title="NTSC">NTSC</a>)</span> <span class="nowrap">7.09&nbsp;MHz (<a href="/wiki/PAL" title="PAL">PAL</a>)</span></td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Memory</th>
                <td class="infobox-data">1 <a href="/wiki/Megabyte" title="Megabyte">MB</a> <span class="nowrap">(9 <a href="/wiki/Megabyte" title="Megabyte">MB</a> maximum)</span></td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Predecessor</th>
                <td class="infobox-data"><a href="/wiki/Amiga_1000" title="Amiga 1000">Amiga 1000</a></td>
              </tr>
              <tr>
                <th scope="row" class="infobox-label">Successor</th>
                <td class="infobox-data"><a href="/wiki/Amiga_3000" title="Amiga 3000">Amiga 3000</a></td>
              </tr>
            </tbody>
          </table>