<table class="infobox hproduct vevent">
  <tbody>
    <tr>
      <td colspan="2" class="infobox-image">
        <a href="/wiki/File:Commodore_64.svg" class="image"><img alt="Commodore 64.svg" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Commodore_64.svg/220px-Commodore_64.svg.png" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Commodore_64.svg/330px-Commodore_64.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Commodore_64.svg/440px-Commodore_64.svg.png 2x" data-file-width="512" data-file-height="51" width="220" height="22"></a>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="infobox-image">
        <a href="/wiki/File:Commodore-64-Computer-FL.jpg" class="image"><img alt="C64 hardware" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Commodore-64-Computer-FL.jpg/220px-Commodore-64-Computer-FL.jpg" decoding="async" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Commodore-64-Computer-FL.jpg/330px-Commodore-64-Computer-FL.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/e/e9/Commodore-64-Computer-FL.jpg/440px-Commodore-64-Computer-FL.jpg 2x" data-file-width="4600" data-file-height="2600" width="220" height="124"></a>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Manufacturer</th>
      <td class="infobox-data"><a href="/wiki/Commodore_Business_Machines" class="mw-redirect" title="Commodore Business Machines">Commodore Business Machines</a> (CBM)</td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Type</th>
      <td class="infobox-data"><a href="/wiki/Home_computer" title="Home computer">Home computer</a></td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Release date</th>
      <td class="infobox-data">August&nbsp;1982<span class="noprint">; 39&nbsp;years ago</span><span style="display:none">&nbsp;(<span class="bday dtstart published updated">1982-08</span>)</span><sup id="cite_ref-woc1983_1-0" class="reference"><a href="#cite_note-woc1983-1">[1]</a></sup></td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Introductory price</th>
      <td class="infobox-data"><span style="white-space: nowrap">US$595</span> (equivalent to $1,670 in 2021)</td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Discontinued</th>
      <td class="infobox-data">April&nbsp;1994<span class="noprint">; 28&nbsp;years ago</span><span style="display:none">&nbsp;(<span class="dtend">1994-04</span>)</span>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Units sold</th>
      <td class="infobox-data">12.5<sup id="cite_ref-PageTable_2-0" class="reference"><a href="#cite_note-PageTable-2">[2]</a></sup> – 17<sup id="cite_ref-Reimer1_3-0" class="reference"><a href="#cite_note-Reimer1-3">[3]</a></sup> million</td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label"><a href="/wiki/Operating_system" title="Operating system">Operating system</a></th>
      <td class="infobox-data">
        <div class="plainlist">
          <ul>
            <li><span class="nowrap">Commodore <a href="/wiki/KERNAL" title="KERNAL">KERNAL</a>/<a href="/wiki/Commodore_BASIC" title="Commodore BASIC">BASIC 2.0</a></span></li>
            <li><span class="nowrap"><a href="/wiki/GEOS_(8-bit_operating_system)" title="GEOS (8-bit operating system)">GEOS</a> (optionally)</span></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label"><a href="/wiki/Central_processing_unit" title="Central processing unit">CPU</a></th>
      <td class="infobox-data"><a href="/wiki/MOS_Technology_6510" title="MOS Technology 6510">MOS Technology 6510</a>/<a href="/wiki/MOS_Technology_6510#MOS_8500" title="MOS Technology 6510">8500</a>
        <div class="plainlist">
          <ul>
            <li>@ <span class="nowrap">1.023 MHz</span> (<a href="/wiki/NTSC" title="NTSC">NTSC</a> version)</li>
            <li>@ <span class="nowrap">0.985 MHz</span> (<a href="/wiki/PAL" title="PAL">PAL</a> version)</li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Memory</th>
      <td class="infobox-data"><span class="nowrap">64 <a href="/wiki/Kilobyte" title="Kilobyte">KB</a> (65,536 bytes) <i>(IEC: <a href="/wiki/Kibibyte" class="mw-redirect" title="Kibibyte">KiB</a>)</i> <a href="/wiki/Random-access_memory" title="Random-access memory">RAM</a></span> + <span class="nowrap">20 KB <a href="/wiki/Read-only_memory" title="Read-only memory">ROM</a></span></td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Graphics</th>
      <td class="infobox-data"><a href="/wiki/MOS_Technology_VIC-II" title="MOS Technology VIC-II">VIC-II</a> (<span class="nowrap">320×200</span>, <span class="nowrap">16 colors</span>, <a href="/wiki/Sprite_(computer_graphics)" title="Sprite (computer graphics)">sprites</a>, <span class="nowrap"><a href="/wiki/Raster_interrupt" title="Raster interrupt">raster interrupt</a></span>)</td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Sound</th>
      <td class="infobox-data"><a href="/wiki/MOS_Technology_6581" title="MOS Technology 6581">SID 6581/8580</a> (<span class="nowrap">3× <a href="/wiki/Electronic_oscillator" title="Electronic oscillator">osc</a></span>, <span class="nowrap">4× <a href="/wiki/Waveform" title="Waveform">wave</a></span>, <a href="/wiki/Electronic_filter" title="Electronic filter">filter</a>, <a href="/wiki/Attack-decay-sustain-release_envelope" class="mw-redirect" title="Attack-decay-sustain-release envelope">ADSR</a>, <a href="/wiki/Ring_modulation" title="Ring modulation">ring</a>)</td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Connectivity</th>
      <td class="infobox-data">
        <div class="plainlist">
          <ul>
            <li>2× <a href="/wiki/MOS_Technology_CIA" title="MOS Technology CIA">CIA 6526</a> (<a href="/wiki/Joystick" title="Joystick">joystick</a>, <a href="/wiki/General-purpose_input/output" title="General-purpose input/output">GPIO</a>/<a href="/wiki/RS-232" title="RS-232">RS-232</a>/keyboard)</li>
            <li><a href="#Input/output_(I/O)_ports_and_power_supply">Power</a> (+5V DC &amp; 9V AC)</li>
            <li><a href="/wiki/ROM_cartridge" title="ROM cartridge">ROM cartridge</a></li>
            <li>Video/audio (<a href="/wiki/RF_modulator" title="RF modulator">RF</a>/<a href="/wiki/S-Video" title="S-Video">A/V</a>)</li>
            <li><a href="/wiki/Commodore_bus" title="Commodore bus">Serial IEEE 488 bus</a> (<a href="/wiki/Commodore_1541" title="Commodore 1541">floppy disk</a>/<a href="/wiki/Commodore_64_peripherals#Printers" title="Commodore 64 peripherals">printer</a>)</li>
            <li><a href="/wiki/Commodore_Datasette" title="Commodore Datasette">Digital tape</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Predecessor</th>
      <td class="infobox-data">
        <div class="hlist hlist-separated">
          <ul>
            <li><a href="/wiki/Commodore_VIC-20" title="Commodore VIC-20">Commodore VIC-20</a></li>
            <li><a href="/wiki/Commodore_MAX_Machine" title="Commodore MAX Machine">Commodore MAX Machine</a></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row" class="infobox-label">Successor</th>
      <td class="infobox-data">
        <div class="hlist hlist-separated">
          <ul>
            <li><a href="/wiki/Commodore_128" title="Commodore 128">Commodore 128</a></li>
            <li><a href="/wiki/Amiga" title="Amiga">Amiga</a></li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
