<div id="container">
  <div class="container-title">Total System Management</div>
  <div class="divResTable divResTable--3cols divResTable--collapse">
    <div class="divResTableCell divResTableHeading" style="order: 1;">Security</div>
    <div class="divResTableCell" style="order: 2;">
    <ul style="text-align: left; font-size: 0.7em;">
      <li>Up to date software that minimizes security threats to your computer</li>
      <li>Management of your computer's security through threat behavior analysis.</li>
    </ul>
    <div class="divResTableFoot">$104.00</div>
    </div>
    <div class="divResTableBreak"></div>
      <div class="divResTableCell divResTableHeading" style="order: 1;">Upkeep</div>
      <div class="divResTableCell" style="order: 2;">
    <ul style="text-align: left; font-size: 0.7em;">
      <li>Monitor's storage systems reliability *</li>
      <li>Maintain software updates.</li>
      <li>Problem Forecasting and Mitigation</li>
    </ul>
    <div class="divResTableFoot">$156.00</div>
      </div>
      <div class="divResTableBreak"></div>
    <div class="divResTableCell divResTableHeading" style="order: 1;">Backup</div>
    <div class="divResTableCell" style="order: 2;">
    <ul style="text-align: left; font-size: 0.7em;">
      <li>Disaster Recovery Backup ****</li>
      <li>Carbonite Cloud Backup</li>
      <li>Reliable upkeep of backup software and data.</li>
    </ul>
    <div class="divResTableFoot">$312.00</div>
    </div>
    </div>
    <div class="container-footer">$572</div>
    <div class="divResTableBreak"></div>
</div>
