<div class="divResContainer">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title divResContainerHeader">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-remote-system-management">Remote System Monitoring and Management Package</a>
        </h2> <span style="font-size: small; text-align: center; color: white;">Click here for more info</span>
      </div>
      <div id="collapse-remote-system-management" class="panel-collapse collapse">
        <div class="panel-body">
          <p>I provide recurring home and small office remote system management services for your PC Desktops and Laptops. I handle system security, backup and upkeep. Remote system management improves performance of your device, minimizes down time and service visits by tuning your system for optimal performance and predicting hardware/software failures.</p>
          
          <p>I provide piece of mind that the most import parts of your computer are being protected with robust security, upkeep, and regular disaster recovery backups of your most important data. Just like a car, computers need love and care on a regular basis. With my skills and experience in forecasting future hardware and software problems, I keep you in the loop and aware by handling the tasks of maintaining your device for you, so you do not have to worry that you are missing a vital component needed to keep your device protected from harm.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="divResTable divResTable--3cols divResTable--collapse">
    <div class="divResTableCell divResTableHeading" style="order: 1;">Security</div>
    <div class="divResTableCell" style="order: 2;">
    <div class="divResTableColumn">
      <ul style="text-align: left; font-size: 0.7em;">
        <li>Up to date software that minimizes security threats to your computer</li>
        <li>Management of your computer's security through threat behavior analysis.</li>
      </ul>
    </div>
    <div class="divResTableFoot">$104.00/yr</div>
    </div>
    <div class="divResTableBreak"></div>
      <div class="divResTableCell divResTableHeading" style="order: 1;">Upkeep</div>
      <div class="divResTableCell" style="order: 2;">
  <div class="divResTableColumn">
    <div class="divResTableWrapper">
        <ul style="text-align: left; font-size: 0.7em;">
      <li>Monitor's storage systems reliability *</li>
      <li>Maintain software updates.</li>
      <li>Problem Forecasting and Mitigation</li>
          </ul>
    </div>
    <div class="divResTableFoot">$156.00/yr</div>
  </div>
    
      </div>
      <div class="divResTableBreak"></div>
    <div class="divResTableCell divResTableHeading" style="order: 1;">Backup</div>
    <div class="divResTableCell" style="order: 2;">
    <div class="divResTableColumn">
      <ul style="text-align: left; font-size: 0.7em;">
        <li>Disaster Recovery Backup ****</li>
        <li>Carbonite Cloud Backup</li>
        <li>Reliable upkeep of backup software and data.</li>
      </ul>
    </div>
    <div class="divResTableFoot">$312.00/yr</div>
    </div>
    </div>
    <div class="divResContainerFooter">$500/yr</div>
    <div class="divResContainerFooterDesc">12% Savings</div>
    <div class="divResTableButtonCenter">
      <div class="divResTableButton"><a href="/#contact">Get in touch</a></div>
    </div>
</div>
<div class="divResTableBreak"></div>
