<div class="divResContainer">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title divResContainerHeader">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse-remote-system-management">Remote System Monitoring and Management Package</a>
        </h2> <span style="font-size: small; text-align: center; color: white;">Click title for more info</span>
      </div>
      <div id="collapse-remote-system-management" class="panel-collapse collapse">
        <div class="panel-body">
          <p>I provide recurring home and small office remote system management services for your PC Desktops and Laptops. I handle system security, backup and upkeep. Remote system management improves performance of your device, minimizes down time and service visits by tuning your system for optimal performance and predicting hardware/software failures.</p>
          
          <p>I provide piece of mind that the most import parts of your computer are being protected with robust security, upkeep, and regular disaster recovery backups of your most important data. Just like a car, computers need love and care on a regular basis. With my skills and experience in forecasting future hardware and software problems, I keep you in the loop and aware by handling the tasks of maintaining your device for you, so you do not have to worry that you are missing a vital component needed to keep your device protected from harm.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="divResTable divResTable--3cols divResTable--collapse">
    <div class="divResTableCell divResTableHeading" style="order: 1;">Security</div>
    <div class="divResTableCell" style="order: 2;">
      <ul style="text-align: left; font-size: 0.7em;">
        <li>Up to date software that minimizes security threats to your computer</li>
        <li>Management of your computer's security through threat behavior analysis.</li>
      </ul>
    <div class="divResTableFoot">$104.00/yr</div>
    </div>
    <div class="divResTableBreak"></div>
      <div class="divResTableCell divResTableHeading" style="order: 1;">Upkeep</div>
      <div class="divResTableCell" style="order: 2;">

    <ul style="text-align: left; font-size: 0.7em;">
      <li>Monitor's storage systems reliability *</li>
      <li>Maintain software updates.</li>
      <li>Problem Forecasting and Mitigation</li>
    </ul>
    
    <div class="panel-group" id="accordion" style="margin-bottom: 0;">
      <div class="panel panel-default">
        <div style="border: none; padding:0 10px 10px 10px; margin: 0px; background: #323440;" class="panel-heading">
          <div class="panel-desc-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-features">Features by request</a>
          </div>
        </div>
        <div id="collapse-features" class="panel-collapse collapse">
          <div class="panel-body panel-desc-body">
            <p><b>Controlled Windows 10 Feature Updates</b>: Technician forces an update during an opportune time when the device is not being used to test for problems. Requires the <b>Remote Backup Package</b> Helps to minimize down time with Windows 10 feature updates that get updated during unexpected times, regular rates apply.</p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="divResTableFoot">$156.00/yr</div>
      </div>
      <div class="divResTableBreak"></div>
    <div class="divResTableCell divResTableHeading" style="order: 1;">Backup</div>
    <div class="divResTableCell" style="order: 2;">
      <ul style="text-align: left; font-size: 0.7em;">
        <li>Disaster Recovery Backup ****</li>
        <li>Carbonite Cloud Backup</li>
        <li>Reliable upkeep of backup software and data.</li>
      </ul>
      <div class="panel-group" id="accordion" style="margin-bottom: 0;">
        <div class="panel panel-default">
          <div style="border: none; padding:0 10px 10px 10px; margin: 0px; background: #323440;" class="panel-heading">
            <div class="panel-desc-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-backup-case-study">Case Study</a>
            </div>
          </div>
          <div id="collapse-backup-case-study" class="panel-collapse collapse">
            <div class="panel-body panel-desc-body">
              <p>One of my customers was surprised that the service Carbonite was not backing up a special accounting program data. Due to the way in which the application accessed the proprietary data, the application prevented Carbonite from accessing and backing it up. The customer had to rebuild that particular data set from scratch.</p>
              <p>With my <b>Upkeep System Management Service</b> I monitoring the life of the hardware which allows me to alert you of a pending failure, and in many cases(but not all cases), trigger a backup before a loss occurs.</p>
            </div>
          </div>
        </div>
      </div>
      
            <div class="panel-group" id="accordion" style="margin-bottom: 0;">
              <div class="panel panel-default">
                <div style="border: none; padding:0 10px 10px 10px; margin: 0px; background: #323440;" class="panel-heading">
                  <div class="panel-desc-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-backup-hardware-req">Additional Hardware Costs</a>
                  </div>
                </div>
                <div id="collapse-backup-hardware-req" class="panel-collapse collapse">
                  <div class="panel-body panel-desc-body">
                    <div class="alert-container">If you have a current backup solution this service would be a replacement.</div>
                    
                    Depending on your needs, you might need:
                    
                    <ul>
                      <li>A <b>reliable USB storage device</b>: Lacie Rugged Portable HDD 2TB (If required)<br /><b >$150.00 Per System</b></li>
                    </ul>
                    
                    - or -     
                    
                    <ul>
                      <li>A <b>NAS(Network Attached Storage)</b> for multiple computers<br /><b>$700.00 (Provides local in-home/office network backup's of all your systems, or network access to your files)</b><br /> <i>An NAS installation usually requires a network site survey service (<b>$400.00</b>) to audit your current networking hardware to confirm that your it's meets the specified requirements for a NAS.</i></li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>
    <div class="divResTableFoot">$312.00/yr</div>
    </div>
    </div>
    <div class="divResContainerFooter">$500/yr</div>
    <div class="divResContainerFooterDesc">12% Savings</div>
    <div class="divResTableButtonCenter">
      <div class="divResTableButton"><a href="/#contact">Get in touch</a></div>
      
      <div class="panel-group" id="accordion" style="margin-bottom: 0;">
        <div class="panel panel-default">
          <div style="border: none; padding:10px; margin: 0px; background: #323440;" class="panel-heading">
            <div class="panel-desc-title" style="text-align: left;">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-terms">Terms</a>
            </div>
          </div>
          <div id="collapse-terms" class="panel-collapse collapse">
            <div class="panel-body panel-desc-body" style="text-align: left;">
              <div class="alert-container">System Management is a pre-emptive service that aims to reduce failures, unresolved security, or software/hardware issues that usually cause catastrophes requiring a repair visit. The System Management fees only cover the upkeep of the service and its components. The fees do not cover any other service related issues with your device.</div>
              
              <ul>
                <li>This service covers the installation and upkeep of each purchased package. I remotely manage and customize the service's settings to help prevent most problems from causing system downtime or loss of data. If a problem is identified during my normal monitoring, I will contact you and let you know a normal servicing needs to happen, and we can talk about <a href="/#rates">fees</a> or I can send you a quote of service.</li>
                <li><b>Remote Upkeep System Management</b> is a service that helps prevent downtime by identifying potential problems to your hardware and software before they cause catastrophes.</li>
                <li><b>Remote Backup System Management</b> is a service that helps prevent backup failures from happening and with the upkeep monitoring portion may enable me to trigger a backup before a catastrophe in many cases.</li>
                <li><b>Remote Security System Management</b> is a service that in most cases helps prevent threats from causing damage to your system or data.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>
</div>
<div class="divResTableBreak"></div>
